* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
}

.first {
    background-color: rgb(143, 91, 255);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1px;

}

.nb {
    margin: 20px;
    margin-left: 55px;
}

.nav-link {
    margin: 14px;

}

.nav-link:focus {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;

}

a.navbar-brand {
    font-weight: 500;

}

.gap {
    font-weight: 500;
    font-size: 15px;
    margin-right: 25px;
    justify-content: end;
    /* gap: 10px; */
}

.para {
    font-size: 20px;
}

.heading {
    font-size: 40px;
}

.box {

    background-color: #1fb6fc;
    padding: 10px 10px;
    width: 150px;
    text-align: center;
    margin: 0px 10px 0px 0px;
    border-style: solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
}

.boxes {
    display: inline-flex;
    flex-wrap: wrap;
}

.box:hover {
    animation-duration: 0.2s;
    border-style: solid;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0;
    border: none;
}

.box2 {
    background-color: #bc6ff1;
}

.margin {
    margin: 50px;
    margin-left: 90px;

}

.second {
    background-color: #fff;
}

.social {
    margin: 40px;
    margin-left: 80px;
}

.social a {
    margin: 10px;
    color: white;
}

.card {
    padding-top: 40px;
    padding-bottom: 40px;



    text-align: center;


    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.68);
}

.card:hover {
    background-color: #1fb6fc;
    color: white;
}

.card:hover .logo {
    background-color: white;
    color: black;
}

.head {
    font-size: 20px;
    text-transform: capitalize;
}

.logo {
    font-size: xx-large;
    background-color: #1fb6fc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: center;
}

.cardlink {

    text-decoration: none;
}

.cardrow {
    margin: 20px;

}

.centerhead {
    text-align: center;


}

.four {
    padding-top: 60px;
    padding-bottom: 80px;
}

.imagebox {
    text-align: center;
    width: 250px;

}

.project {
    background-image: url("https://preview.colorlib.com/theme/unbrew/images/about.jpg.webp");
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;



}

.num {
    overflow: hidden;
    text-align: center;
    font-weight: 500;

}

.bignum {
    font-size: 45px;
    font-weight: 600;
    color: #1fb6fc;
}

.invertedcomas {
    background-color: white;
    margin-top: 25px;
    text-align: center;
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.297);
    -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.331);
    -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.265);
}

.five {
    padding-bottom: 90px;
    padding-top: 80px;
    background-color: rgb(243, 243, 243);
}

.inverted {
    position: relative;
    top: -25px;

}

.inverted i {
    font-size: 30px;
    text-align: center;
    background-color: #1fb6fc;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.img {
    display: inline-flex;
    flex-direction: column;
    line-height: 4px;
    text-align: left;
}

.six {
    padding-top: 80px;
    padding-bottom: 100px;
    background: rgb(175, 0, 255);
    background: linear-gradient(0deg, rgb(218, 218, 218) 55%, #a87ffa 55%);

}

.longwork {
    top: 100px;
}

.long {
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding-bottom: 200px;
    border-radius: 5px;
    margin-left: 20px;
}

.long:hover {
    background-color: #1fb6fc;
    color: white;
    transition: 0.3s;
}

.logos {
    font-size: 40px;

    margin-top: 100px;
}

.head {
    font-size: 25px;
    font-weight: 700;
}

.paragraph {
    font-size: larger;
    margin: 10px;
}

.paraa {
    top: 100px;
    position: relative;
}

.imgboxes img {
    border-radius: 5px;

}

.bluebox {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    width: 180px;
}

.imgboxes {
    text-align: left;
    overflow: hidden;
}

.imgboxes p {
    font-weight: 500;
    margin: 10px;
}
.link {
   display: flex;
   justify-content: center;
 
   
}
.link a{
    background-color: #d7d7d7   ;
    border-radius: 50px;
    padding: 6px 30px;
    text-decoration: none;
    
}
.seven{
    background-color: #efefef9c;
    padding-bottom: 92px;
}
.discount{
    padding-bottom: 30px;
    padding-top: 10px;
   width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.discount p{
    color: rgba(46, 46, 46, 0.514);
    margin-top: 20px;
}
.discount i{
    color: #1fb6fc;
    font-weight: 800;
}
.discount .box{
 margin-left: 100px;
}
.doller{
    font-size:50px;
    font-weight: 500;
}
.margintop{
    margin-top: 100px;
}
.blue{
    background-color: rgb(38, 38, 255);
padding-top: 80px;
padding-bottom: 40px;
}
.parablue{
    margin-left: 150px;
    color: white;
}
.headd{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.input
{
text-align: center;
margin-top: 50px;
}
input{
    background-color: rgba(0, 255, 255, 0);
    outline: none;
    border-style: solid;
    border-color: white;
    border-bottom: 1;
    border-width: 1px;
   width:350px;
    border-top:0 ;
    border-right:0 ;
    border-left:0 ;
caret-color: white;
padding-bottom: 10px;
}
input::placeholder{
    color: white;
}
.input button{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
  margin-left: -20px;
  color: white;
}
.footerr{
    background-color: #eaedff;
   padding-top: 50px;
   
}
.unbrew{
    color: #1fb6fc;
    font-size: 20px;
}
.Copyright{
padding-top:50px ;padding-bottom:50px ;
}
